<h1>Spin The Wheel</h1>
<h3> To spin the wheel, you must agree to pay RM5 as the entry ticket</h3>
<h3>RM5 will automatically be deducted from your individual Ewallet balance for every spin of the wheel</h3>

<!-- <h3>Or press the button to land on the corresponding prize</h3> -->
<ngx-wheel
  #wheel
  [width]='wheelWidth'
  [height]='wheelHeight'
  [spinDuration]='8'
  [disableSpinOnClick]='true'
  [items]='items'
  [innerRadius]='20'
  [spinAmount]='10'
  [textOrientation]='textOrientation'
  [textAlignment]='textAlignment'
  pointerStrokeColor='#334477'
  pointerFillColor='white'
  [idToLandOn]='idToLandOn'
  (onSpinStart)='before()'
  (onSpinComplete)='after()'
></ngx-wheel>

<button class="button" [style.display]="displaySpinTheWheelButton? 'block':'none'" (click)="spinTheWheel()">Spin The Wheel</button>
<h3>Message: </h3>
<h3>{{message}}</h3>
<!-- <div class="reset">
  <button (click)="reset()">Reset</button>
</div> -->
<!-- <div class="buttons">
  <button (click)="spin(0)">Prize 0</button>
  <button (click)="spin(1)">Prize 1</button>
  <button (click)="spin(2)">Prize 2</button>
  <button (click)="spin(3)">Prize 3</button>
  <button (click)="spin(4)">Prize 4</button>
  <button (click)="spin(5)">Prize 5</button>
  <button (click)="spin(6)">Prize 6</button>
  <button (click)="spin(7)">Prize 7</button>
  <button (click)="spin(8)">Prize 8</button>
  <button (click)="spin(9)">Prize 9</button>
  <button (click)="spin(10)">Prize 10</button>
  <button (click)="spin(11)">Prize 11</button>
</div> -->