body {
    font-family: Roboto;
    margin-left: 10%;
  
}

h3 {
    text-align: justify;
    clear: both;
    color: #334477;
    float: left;
    font-weight: 900;
}

h4 {
    text-align: justify;
    margin-left: 1%;
    float: left;
    font-weight: 100;
}

h1 {
    text-align: justify;
    color: #334477;
}

.profileIcon {
    margin-left: -5%;
    width: 20%;
    height: 20%;
}