<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="outer">

    <div class="bg">
        <div class="mainHeaderText">
            <div class="randomSpace1"></div>
            Company Retreat <br>
            E-wallet<br>
            Dapp
        </div>
    </div>

    
    
   
    
</div>

<div class="outer">
    <div class="bg2">
        <div class="mainHeaderText">
            <div class="randomSpace1"></div>
            Our Services <br>
            <span class="subText">
           1. Advertisement Space<br>
           2. Platform Fee<br>
           3. Manual Account Recovery<br>
            </span>
        </div>
    </div>
</div>
